<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM  "https://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
        <listener class-name="com.amazon.test.Listeners"/>
    </listeners>
    <test name="/Users/sherin/dev/java-workspace/AmazonPjt">
        <classes>
            <class name="com.amazon.test.LandingPageTest"/>

        </classes>
    </test>
</suite>